
@{
    ViewData["Title"] = "MyPage";
}

<h1>MyPage</h1>
<h1>Welcome to my page to my page!</h1> <br />
<h2>@ViewData["FirstName"] @ViewData["LastName"]</h2>
<br /><br />
<h2><a href="/Mortgage/signupform">Let's register some info</a></h2>