
@{
    ViewData["Title"] = "SignupForm";
}

<h1>Signup Form</h1>

<form method="post" action="/Mortgage/Done">
    First: <input type="text" name="Email" /><br />
    Last: <input type="text" name="LastName" /><br />
    Password: <input type="password" name="Password" /><br />
    <input type="submit" />
</form>