@model UserContact
@{
    ViewData["Title"] = "ThankYou";
}

<h1>Thank you</h1>
<h3>Your Email is @Model.Email <br />Your phone number is @Model.Phone <br />Your cell phone number is @Model.CellPhone</h3>

