
@{
    ViewData["Title"] = "UserContactForm";
}

<h1>User Contact Form</h1>

<form method="post" action="/mortgage/thankyou">
    Email: <input type="text" name="Email" /><br />
    Home Phone: <input type="text" name="Phone" /><br />
    Cell Phone: <input type="text" name="CellPhone" /><br />
    <input type="submit" />
</form>